<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>Página de Cadastro de Compras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    
    <form method="POST" action="/adicionar-produto-no-json">
        <h2>Preencha os Dados do Produto:</h2>
        <input autofocus required type="text" id="nome" name="nome" placeholder="Nome">
        <input required type="text" id="marca" name="marca" placeholder="Marca">
        <input required type="number" id="qtd" name="qtd" placeholder="Quantidade">
        <input required type="number" id="valorUni" name="valorUni" placeholder="Valor Unitário de Compra">
        <input required type="number" id="precoUni" name="precoUni" placeholder="Preço Unitário para Venda">
        <input required type="date" id="dataValidade" name="dataValidade">
        <input type="submit" value="Confirmar">
    </form>
    
    <!-- <script src="" async defer></script> -->
</body>
</html>